body {
	background-color: #ffffff;

}

.row {
	margin: 0 auto;
	max-width: 1024px;
}

.header-wrapper {
	background: #f0f0f0;
	height: 100px;
}

.nav-wrapper {
	background: #c61618;
	margin-bottom: 5px;
}

.navbar {
	margin: 0 -15px;
	border: 0;
	font-family: 'montserrat';

}

.navbar .navbar-toggle {
	color: #fff;
	border: 1px solid white;
}

.navbar .icon-bar {
	background-color: #fff;
}

.navbar .navbar-collapse {
	border: 0;
}

.navbar .navbar-nav:first-child {
	margin-left: -15px;
}

.navbar .navbar-collapse.in, .navbar .navbar-collapse.collapsing {
	background-color: #f0f0f0;
	border-bottom: 1px solid #757575;
}

.navbar .navbar-collapse.in .navbar-nav + .navbar-nav, .navbar .navbar-collapse.collapsing .navbar-nav + .navbar-nav {
	border-top: 1px solid #757575;
	padding-top: 7.5px;
}

.navbar .nav>li>a {
	color: #ffffff;
	
}

.navbar .nav>li>a:hover, .navbar .nav>li>a:focus {
	background: 0;
}

.navbar .navbar-collapse.in .nav>li>a, .navbar .navbar-collapse.collapsing .nav>li>a {
	color: #000000;
	
}




.footer-wrapper {
	background: #666666;
	height: 100px;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.right-text-align {
	text-align: right;
}

a.success {
	color: #5cb85c;
}

a.danger {
	color: #d9534f;
}

/*

body {
	background-color: #ffffff;

}

.row {
	margin: 0 auto;
	max-width: 1000px;
}

h4 {
	font-family: 'montserrat';
}


header {
	font-family: 'montserrat';
}

	#logo img {
		display: inline-block;
		margin: 0;
		color: #000000;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 25px;
		line-height: 50px;
	}
	
	#lang {
		display: inline-block;
		float: right;
		padding: 0 15px;
		color: #000000;
		line-height: 50px;
	}


nav {
	background-color: #ffffff;
	font-size: 14px;
	font-family: 'montserrat';

}
	.collapse, .collapsing {
		padding: 0;
		margin-left: -15px !important;
	}
	
	.navbar {
		margin: 0;
		border-radius: 0;
	}

	.navbar-nav {
		margin: 0;
	}
	
	.navbar-nav > li > a:hover {
		color: #ae0010 !important;
	}
	

#content {
	min-height: 300px;
	background-color: #f2f2f2;
}

	#content .row > div {
		padding: 0;
	}
	
	.side-info {
		float: right;
		text-align: right;
		font-size: 12px;
		margin-left: 10px;
	}
	
	.side-info span {
		display: block;
	}

footer {
	padding: 20px 0 5px 0;
	color: #fff;
	font-size: 11px;
	font-family: 'montserrat';
}

	.rights, .partner {
		display: inline-block;
		margin-bottom: 15px;
		width: 320px;
		height: 50px;
		text-align: center;
		line-height: 50px;
	}

	.partner a + a {
		margin-left: 20px;
	}


.list {
	margin: 30px 0;
	padding: 0;
	list-style: none;
}

.list a {
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
	height: 50px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
}

.list a aside {
	display: inline-block;
	float: left;
	width: 50px;
	height: 100%;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	background-color: #2a83bd;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
}

.list a div {
	margin-left: 50px;
	padding: 10px;
	color: black;
}

.list-group {
	margin: 0;
}

.list-group a {
	border-radius: 0 !important;
}
*/