body {
	background-color: #f0f0f0;
}

.header-wrapper {
	padding: 1rem 0 !important;
}

	.header-wrapper img {
		max-width: 100%;
	}

	.header-wrapper .lang-selector-wrapper {
		margin: 0 0 10px 0;
		font-family: 'montserrat';
	}
	
	.header-wrapper .lang-selector-wrapper .item {
		color: rgba(0, 0, 0, .6);
	}
	
	.header-wrapper .lang-selector-wrapper .item:hover {
		color: rgba(0, 0, 0, .8);
	}
	
	.header-wrapper .lang-selector-wrapper .item + .item::before {
		content: '·';
		margin: 0 5px 0 3px;
	}
	
	.header-wrapper .lang-selector-wrapper .item.active {
		font-weight: bold;
	}

	.header-wrapper .search-form-wrapper {
	}
	
	@media (max-width: 767px) { 
		
		.header-wrapper h1 {
			text-align: center;
		}
		
		.header-wrapper.ui.stackable.grid > .column.right {
			margin-top: -1rem !important;
		}
		
		.header-wrapper .lang-selector-wrapper {
			float: left;
			margin: 9px 0 0 0;
		}
		
		.header-wrapper .lang-selector-wrapper {
			text-transform: uppercase;
		}
		
		.header-wrapper .lang-selector-wrapper span {
			display: none;
		}
		
	}

.menu-wrapper {
	background: #c61618;
	margin: 0 0 1rem 0;
}

	.menu-wrapper .menu {
		font-family: 'montserrat' !important;
		margin: 0 !important;
		padding: 5px;
	}
	
	.menu-wrapper #current-nav-state {
		margin: 0 0 0 0.65rem;
	}

.notifications-wrapper {
	margin-top: 1rem !important;
}

.content-wrapper {}

.footer-wrapper {
	margin-top: 1rem !important;
}

	.footer-wrapper p {
		text-align: center;
		font-family: 'montserrat';
		font-size: 0.9em;
	}
	
	.footer-wrapper a {
		color: rgba(0, 0, 0, .6);
	}
	
	.footer-wrapper a:hover {
		color: rgba(0, 0, 0, .8);
	}