 @media (min-width: 992px) {
    .side-infos {
        font-size: 0.8em;
    }

 }

 .side-infos {
    border: solid 1px;
    background-color: #eee;
    border-color: #ccc;
    border-radius: 5px;
 }

 .side-infos .badge {
    position: relative;
    top: 3px;
    left: 13px;
 }